.product-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
  }

  .product-details-image img {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .product-details-info {

    width: 45%;
    margin-left: -60%;
  }

  .product-details-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }

  .product-details-info .price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4bcffa;
  }

  .product-details-info .description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;

  }

  .product-details-thumbnails {
    display: flex;
    flex-wrap: wrap;
  }

  .product-details-thumbnails img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .product-details-thumbnails img.active {
    border: 2px solid #4bcffa;
  }

.error-message{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-message h1{
color:#f53b57;
}
.error-message p{
color: #333;
}